<div class='row'>
  <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 challenge-prompt">
    <h3 class="challenge-prompt-title">{{faceoffChallengeData.title}}</h3>
    <br>
    <p class="challenge-description">{{faceoffChallengeData.prompt}}</p>
    <br>
    <p class="challenge-expected-label">Test String:</p>
    <p class="challenge-text" ng-bind-html="highlightedText"></p>
    <br>
    <h4 class="challenge-expected-label">Expected Matches:</h4>
    <p class="challenge-expected">{{faceoffChallengeData.expected}}</p>

    <div class="solve-form">
      <form name="solveForm">
        <input id="regex-attempt" type="text" ng-model='attempt' ng-change='inputFaceoff()' focus-on-me>
      </form>
    </div>
    <div ng-if='faceoffFinishedFlag'>{{finalAnswer}}</div>

    <br>
    <button ng-if='!faceoffFinishedFlag' ng-click='leaveFaceoff()'>Leave (this counts as a loss)</button>
    <button ng-click='winFaceoff()'>WIN NOW</button>
    <br>
    <div ng-if="faceoffFinishedFlag">
      <div ng-if='faceoffWonFlag'>You Win!!!</div>
      <div ng-if='!faceoffWonFlag'>You Lose!!</div>
    </div>
    <div ng-if="faceoffFinishedFlag">
      <button ui-sref='multiplayer'>Play more multiplayer!</button>
      <button ui-sref='solve'>Practice alone</button>
    </div>
  </div>
 
  <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 opponent-prompt">
    <h3 class="challenge-prompt-title">{{faceoffChallengeData.title}}</h3>
    <br>
    <p class="challenge-expected-label">Opponent Progress:</p>
    <p class="opponent-text" ng-bind-html="opponentHighlightedText"></p>
    <br>
     <h4 class="challenge-expected-label">Opponent Text:</h4>
    <p class="challenge-expected">{{opponentAttempt}}</p>
    <div ng-if="faceoffFinishedFlag">
      <div ng-if='faceoffWonFlag'>DEFEATED!!</div>
      <div ng-if='!faceoffWonFlag'>VICTORIOUS!!!</div>
    </div>
  </div>
  </div